{% extends 'base.html' %}

{% block title %}{{ title }} - Details{% endblock %}

{% block content %}
<div class="testie">
  {% if bg != None %}
  <div class="details-backdrop"
    style="width: 100%; background-image: url('https://image.tmdb.org/t/p/original{{bg}}'), url('https://image.tmdb.org/t/p/w1280_and_h720_multi_faces{{bg}}') ; background-position: center center; background-repeat: no-repeat; background-size: cover; border-top:5px outset var(--main-gray);">
    {% endif %}
    {% for item in details %}
    <div class="detailsContainer outsetBorderWhite">
      <section class="cover transparent-details-bg">
        {% if item['cover'] == 'https://image.tmdb.org/t/p/w600_and_h900_bestv2None' %}
        <img src="{{ url_for('static', filename='err_img.gif') }}" alt="movie poster">
        {% else %}
        <img src="{{ item['cover'] }}" alt="movie poster">
        {% endif %}
        {% if item['trailer'] != None and item['trailer'] %}
        <button id="exampleImage" data-videourl="{{ item['trailer'] }}">Trailer</button>
        {% else %}
        <a id="trailer" class="trailer" href="#"><button disabled="">Trailer</button></a>
        {% endif %}
        <section class="mobileTitle">
          <h5 class="mt-2 mb-md-0 d-inline-block">
            {% if (item['name'] != item['original_name']) and mediaType == 'movie' %}
            {{ item['name'] }} ({{ item['original_name'] }})
            {% else %}
            {{ item['name'] }}
            {% endif %}
            <span class="detailsYear">({{ year }})</span></h5>
          <p class="mt-0 mb-0">
            {% if mediaType == 'movie' %}
            Release Date:
            {% elif mediaType == 'tv' %}
            Started:
            {% endif %}
            <span class="boldText">{{release}}</span>
          </p>
          {% if mediaType == 'tv'%}
          <p class="mt-0 mb-0">
            {% if item['status'] == 'Ended' %}
            Ended: <span class="boldText">{{item['ended_date']}}</span>
            {% elif item['status'] == 'Returning Series' %}
            Status: <span class="boldText">Ongoing</span>
            {% endif %}
          </p>
          {% endif %}
        </section>
      </section>

      <section class="details pl-2 outsetBorderWhite transparent-details-bg">
        <h3 class="mt-2 mb-md-0 d-inline-block displayNone">
          {% if (item['name'] != item['original_name']) and mediaType == 'movie' %}
          {{ item['name'] }} ({{ item['original_name'] }})
          {% else %}
          {{ item['name'] }}
          {% endif %}
          <span class="detailsYear">({{ year }})</span>
          {% if mediaType != 'tv'%}
          <form class="d-inline-block mt-0 formTop ml-1" method="post">
            {% if g.user and g.user.confirmed %}
            <button type="button" data-bs-toggle="modal" data-bs-target="#releaseDateModal"
              class="btn btn-circle btn-outline-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
              </svg>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="releaseDateModal" tabindex="-1" aria-labelledby="releaseDateModal"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="releaseDateModalLabel">Please select the type of release date to follow!
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="form-check form-check-inline">
                      {% if item['release_obj'] and item['release_obj']['theatre']['full'] != 'TBA' %}
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="theatrical"
                        name="theatrical">
                      {% else %}
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="theatrical" disabled>
                      {% endif %}
                      <label class="form-check-label" for="inlineCheckbox1">Theatrical</label>
                    </div>
                    <div class="form-check form-check-inline">
                      {% if item['release_obj'] and item['release_obj']['digital']['full'] != 'TBA' %}
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="digital"
                        name="digital">
                      {% else %}
                      <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="digital" disabled>
                      {% endif %}
                      <label class="form-check-label" for="inlineCheckbox2">Digital</label>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-md btn-dark">Follow</button>
                  </div>
                </div>
              </div>
            </div>

            {% elif not g.user and item['type'] != 'tv' %}
            <a href="{{ url_for('login', next=item['id']) }}"><button type="button" id="details_login_button"
                class="btn btn-sm btn-dark mt-0">Login to
                Follow</button></a>
            {% elif not g.user.confirmed %}
            <a href="{{ url_for('unconfirmed')}}"><button type="button" id="details_login_button"
                class="btn btn-outline-dark mb-1">Confirm</button></a>
            {% endif %}
          </form>
          {% endif %}
        </h3>

        <p class="mb-0 d-inl">Directed By:
          {% if item['director'] and item['director'][0]['id'] %}
          <a href="{{ url_for('profile', id=item['director'][0]['id'])}}">
            <span class="boldText">{{ item['director'][0]['name'] }}</span>
          </a>
          {% elif item['creator'] %}
          {% for creator in item['creator'] %}
          {% if creator['id'] %}
          <a href="{{ url_for('profile', id=creator['id'])}}">
            <span class="boldText">{{ creator['name'] }}</span>
          </a>{{ ", " if not loop.last else "" }}
          {% endif %}
          {% endfor %}
          {% else %}
          <span class="boldText">Unknown Director</span>
          {% endif %}
        </p>
        <p class="mt-0 mb-0">
          {% if mediaType == 'movie' %}
          Release Date:
          {% elif mediaType == 'tv' %}
          Started:
          {% endif %}
          <span class="boldText">{{release}}</span>
        </p>
        {% if mediaType == 'tv'%}
        <p class="mt-0 mb-0">
          {% if item['ended_date'] != 'N/A' %}
          Ended: <span class="boldText">{{item['ended_date']}}</span>
          {% elif item['status'] == 'Returning Series' %}
          Status: <span class="boldText">Ongoing</span>
          {% endif %}
        </p>
        <p class="mt-0 mb-0">
          {% if item['seasons'] %}
          Number of Seasons: <span class="boldText">{{item['seasons']}}</span>
          {% endif %}
        </p>
        {% endif %}
        {% if item['release_obj'] %}
        <p class="mt-0 mb-0">Release Date (Theatre): <span
            class="boldText">{{item['release_obj']['theatre']['full']}}</span> </p>
        <p class="mt-0 mb-0">Release Date (Digital): <span
            class="boldText">{{item['release_obj']['digital']['full']}}</span>
        </p>
        {% endif %}
        {% if item['rating'] == 0 %}
        <p class="mb-0">Rating: <span class="boldText">N/A</span></p>
        {% else %}
        <p class="mb-0">Rating: <span class="boldText">{{item['rating']}}</span></p>
        {% endif %}
        <p class="mb-0">Genres:
          <span class="boldText">
            {% if item['genres'] %}
            {% for genre in item['genres'] %}
            <a href="{{ url_for('genres', genre=genre['id'], genrename=genre['name'], mediaType=mediaType) }}">
              {{genre['name']}}</a>
            {{ ", " if not loop.last else "" }}
            {% endfor %}
            {% else %}
            N/A
            {% endif %}
          </span>
        </p>
        <p class="mb-0">Cast:
          <span class="boldText">
            {% if item['cast'] != 'N/A' and item['cast'] != [] %}
            {% if item['cast']|length >= 5%}
            {% set i = 5%}
            {% else %}
            {% set i = item['cast']|length %}
            {% endif %}
            {% for i in range(i) %}
            <a
              href="{{ url_for('profile', id=item['cast'][i]['id'])}}">{{item['cast'][i]['name']}}</a>{{ ", " if not loop.last else "" }}
            {% endfor %}
            {% else %}
            N/A
            {% endif %}
          </span>
        </p>
      </section>

      <!-- MOBILE -->
      <section class="mobileTrailer">
        {% if item['trailer'] != None %}
        <a id="trailer" class="trailer" href="{{ item['trailer'] }}" target="_blank"><button>Trailer</button></a>
        {% else %}
        <a id="trailer" class="trailer" href="#"><button disabled="">No Trailer</button></a>
        {% endif %}
      </section>

      <section class="follow">
        <form class="formTop" method="post">
          {% if g.user %}

          <button type="button" data-bs-toggle="modal" data-bs-target="#releaseDateModal" name="movie_id"
            id="detailsbutton" value="{{item['id']}}" class="btn btn-block btn-danger">Follow</button>
          {% else %}
          <a href="{{ url_for('login', next=item['id']) }}"><button type="button" id="details_login_button"
              class="btn btn-block btn-danger">Login to
              Follow</button></a>
          {% endif %}
        </form>
      </section>

      <section class="links outsetBorderWhite transparent-details-bg">
        <h5>External Links</h5>
        {% if mediaType == 'tv' %}
        {% set rtType = 'tv'%}
        {% else %}
        {% set rtType = 'm' %}
        {% endif %}
        {% set jwName = item['name']|lower %}
        <div class="details-links-wrapper">
          {% if item['imdb'] != None %}
          <a class="boldText" href="https://www.imdb.com/title/{{item['imdb']}}" target="_blank">IMDB</a><br>
          {% endif %}
          <a class="boldText" href="https://www.rottentomatoes.com/search?search={{jwName}}" target="_blank">Rotten
            Tomatoes</a>
          <a class="boldText" href="https://www.justwatch.com/us/search?q={{jwName}}" target="_blank">Where To
            Watch</a>
        </div>
      </section>

      <section class="overview pl-2 outsetBorderWhite transparent-details-bg">
        <h4 class="pt-1">Overview</h4>
        {{ item['overview'] or 'No information available'}}
      </section>

      {% if related == [] %}
      <section class="related d-block p-0 text-center">
        <h2 class="pt-3">No related movies found...</h2>
        <form class="p-2 mx-auto" action="https://www.google.com/search" target="_blank" method="GET">
          <div class="d-grid gap-2">
            <button class="btn btn-primary btn-md m-auto" name="q" value="{{item['name']}} related movies" type="submit"
              class="">Click here for related movies</button>
          </div>
        </form>
      </section>
      {% else %}
      <section class="related outsetBorderWhite p-0" id="related">
        {% for movie in related %}
        <div class="relatedMovieCover">
          <a href="{{ url_for('details', id=movie['id'], mediaType=movie['mediaType']) }}">
            {% if movie['cover'] == 'https://image.tmdb.org/t/p/w600_and_h900_bestv2None' %}
            <img src="{{ url_for('static', filename='err_img.gif') }}" alt="movie poster">
            {% else %}
            <img src="{{ movie['cover'] }}" alt="movie poster" title="{{ movie['name'] }}">
            {% endif %}
          </a>
        </div>
        {% endfor %}
        <button class="hide-focus" id="slideLeft"><img class="arrowLeft"
            src="{{ url_for('static', filename='right2.png') }}" alt="left arrow"></span></button>
        <button class="hide-focus" id="slideRight"><img src="{{ url_for('static', filename='right2.png') }}"
            alt="right arrow"></button>
      </section>

      {% endif %}
    </div>
    {% endfor %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='javascripts/youtube-overlay.js') }}"></script>
    <script src="{{ url_for('static', filename='javascripts/movieDetails.js') }}"></script>
  </div>
  {% endblock %}

</div>