{% extends 'base.html' %}

{% block title %}Details{% endblock %}


{% block content %}

{% for item in details %}
<div id="detailsContainer" class="d-flex justify-content-center mt-lg-5 mt-md-2">
  <div id="movieDetailsContainer" class="text-center">
    <p>{{item['name']}}</p>
    <p>Release Date: {{item['release']}} </p>
    {% if item['cover'] == 'https://image.tmdb.org/t/p/w600_and_h900_bestv2None' %}
        <img id="movie_cover" src="{{ url_for('static', filename='err_img.gif') }}" alt="movie poster" class="img-responsive">
    {% else %}
        <img id="movie_cover" src="{{ item['cover'] }}" alt="movie poster">
    {% endif %}
  
    {% if item['rating'] == 0 %}
        <p>Rating: N/A</p>
    {% else %}
        <p>Rating: {{item['rating']}}</p>
    {% endif %}
    
    <form method="post">
      <div class="btn-group">
        {% if g.user %}
        <form method="post"></form>
        <button type="submit" name="movie_id" id="details_button" value="{{item['id']}}" class="btn btn-danger mb-1"><img
          id="follow_svg" src="../../static/follow.svg"></button>
        {% else %}
          <a href="{{ url_for('login')}}"><button type="button" id="details_login_button" class="btn btn-dark mb-1 position-relative">Login to Follow</button></a>
        {% endif %}
        {% if item['imdb'] != None %}
          <a href="https://www.imdb.com/title/{{item['imdb']}}" target="_blank"><img id="imdb_button" src="../../static/imdb.svg"></a>
        {% endif %}
      </div>
        
    </form>
  </div>
</div>

{% endfor %}
{% endblock %}