{% extends 'base.html' %}

{% block header %}
<h1 class="text-center mt-5">{% block title %}Results for: "{{query}}"{% endblock %}</h1>
{% endblock %}

{% block content %}

<div class="resultsContainer mt-5 no-gutters p-md-5 p-sm-2">
    <div class="row no-gutters justify-content-center">
        {% for item in results %}
        {% set url = url_for('profile', id=item['id'])%}
        <div data-url="{{ url }}" id="movieContainer" title="{{ item['name'] }}"
            class="text-center col col-xl-2 col-lg-3 col-md-4 col-sm-5 col-12 mx-md-4 mx-sm-3 mb-md-5 mb-sm-4 mb-2">
            <div class="titleYear">
                <p class="m-0">{{item['name']}}</p>
            </div>
            {% if item['cover'] == 'https://image.tmdb.org/t/p/w600_and_h900_bestv2None' %}
            <img id="movie_cover" src="{{ url_for('static', filename='err_img.gif') }}" alt="movie poster"
                class="img-responsive">
            {% else %}
            <img id="movie_cover" src="{{ item['cover'] }}" alt="movie poster" class="img-responsive">
            {% endif %}
            <div class="btn-group btnGroup">
                <a class="d-block mt-1" href="{{ url }}"><button type="button" id="details_login_button"
                        class="btn btn-outline-dark mb-1 px-4">Info</button></a>
                <a class="d-block mt-1" href="{{ url_for('peoplemovies', id=item['id']) }}"><button type="button"
                        id="details_button" class="btn btn-dark mb-1 px-4">Movies</button></a>
            </div>
        </div>
        {% endfor %}
        <div class="d-flex justify-content-center">
            {% if page > 1 %}
            <a href="{{ url_for('people', query=query, page=page-1) }}"><button type="button" class="btn btn-dark"
                    id="details_button" class="btn btn-dark mb-1">Prev Page</button></a>
            {% endif %}
            {% if page < pageCount %}
            <a href="{{ url_for('people', query=query, page=page+1) }}"><button type="button" class="btn btn-dark"
                    id="details_button" class="btn btn-dark mb-1">Next Page</button></a>
            {% endif %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='javascripts/movieResults.js') }}"></script>
    {% endblock %}