{% extends 'base.html' %}

{% block header %}
<h1 class="text-center mt-5">{% block title %}Popular Movies{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center mt-4">
    {% if page > 1 %}
    <a href="{{ url_for('popular', page=1) }}">
        <button type="button" id="prev-page" class="btn btn-dark me-2">
            <img src="{{ url_for('static', filename='start.svg') }}" alt="start icon" width="16" height="16">
        </button>
    </a>
    <a href="{{ url_for('popular', page=page-1) }}">
        <button type="button" id="prev-page" class="btn btn-dark me-2">
            <img src="{{ url_for('static', filename='back.svg') }}" alt="start icon" width="16" height="16">
        </button>
    </a>
    {% else %}
    <button type="button" id="prev-page" class="btn btn-dark me-2" disabled>
        <img src="{{ url_for('static', filename='start.svg') }}" alt="start icon" width="16" height="16">
    </button>

    <button type="button" id="prev-page" class="btn btn-dark me-2" disabled>
        <img src="{{ url_for('static', filename='back.svg') }}" alt="start icon" width="16" height="16">
    </button>

    {% endif %}
    {% if page < pageCount %}
    <a href="{{ url_for('popular', page=page+1) }}">
        <button type="button" id="next-page" class="btn btn-dark me-2">
            <img src="{{ url_for('static', filename='next.svg') }}" alt="start icon" width="16" height="16">
        </button>
    </a>
    <a href="{{ url_for('popular', page=pageCount) }}">
        <button type="button" id="next-page" class="btn btn-dark me-2">
            <img src="{{ url_for('static', filename='end.svg') }}" alt="start icon" width="16" height="16">
        </button>
    </a>
    {% else %}
    <button type="button" id="next-page" class="btn btn-dark me-2" disabled>
        <img src="{{ url_for('static', filename='next.svg') }}" alt="start icon" width="16" height="16">
    </button>
    <button type="button" id="next-page" class="btn btn-dark me-2" disabled>
        <img src="{{ url_for('static', filename='end.svg') }}" alt="start icon" width="16" height="16">
    </button>
    {% endif %}
</div>

<div class="resultsContainer mt-2 no-gutters p-md-5 p-sm-2 mx-3">
    <div class="row no-gutters justify-content-center">
        {% for item in results %}
        {% if item['type'] == 'tv'%}
        {% set url = url_for('details', id=item['id'], mediaType='tv')%}
        {% else %}
        {% set url = url_for('details', id=item['id'], mediaType='movie')%}
        {% endif %}
        <div data-url="{{ url }}" id="movieContainer" title="{{ item['name'] }}"
            class="text-center col col-xl-2 col-lg-3 col-md-4 col-sm-5 col-12 mx-md-4 mx-sm-3 mb-md-5 mb-sm-4 mb-2 p-0">
            <div class="titleYear">
                <p id="movie-container-title" class="mt-2 mb-1 boldText" data-title="{{item['name']}}">
                    {% if item['name']|length < 19 %}
                    {{item['name']}}
                    {% else %}
                    {{ item['name'][0:19] }}...
                    {% endif %}
                </p>
                <p class="m-0 mb-1">{{item['full_release']}}</p>
            </div>
            {% if item['cover'] == 'https://image.tmdb.org/t/p/w600_and_h900_bestv2None' %}
            <img id="movie_cover" src="{{ url_for('static', filename='err_img.gif') }}" alt="movie poster"
                class="img-responsive">
            {% else %}
            <img id="movie_cover" src="{{ item['cover'] }}" alt="movie poster" class="img-responsive">
            {% endif %}
            {% if item['rating'] == 0 or 'rating' not in item %}
            <p class="movieRating">Rating: -</p>
            {% else %}
            <p class="movieRating mb-0">Rating: {{item['rating']}}</p>
            {% endif %}
            <form method="post">
                <div class="btn-group btnGroup mt-2">
                    {% if g.user and item['type'] != 'tv' and g.user.confirmed %}
                    <form method="post">
                        <button type="submit" name="movie_id" id="details_follow_button" value="{{item['id']}}"
                            class="btn btn-outline-danger mb-1"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                            </svg></button>
                    </form>
                    {% elif not g.user %}
                    <a href="{{ url_for('login', next=item['id']) }}"><button type="button" id="details_login_button"
                            class="btn mb-1">Login</button></a>
                    {% elif not g.user.confirmed %}
                    <a href="{{ url_for('unconfirmed')}}"><button type="button" id="details_login_button"
                            class="btn mb-1">Confirm</button></a>
                    {% endif %}
                    <a href="{{ url }}"><button type="button" id="details_button"
                            class="btn btn-dark mb-1">Details</button></a>
                </div>
            </form>
        </div>
        {% endfor %}
        <div class="d-flex justify-content-center mb-4 mt-4 mt-md-0">
            {% if page > 1 %}
            <a href="{{ url_for('popular', page=1) }}">
                <button type="button" id="prev-page" class="btn btn-dark me-2">
                    <img src="{{ url_for('static', filename='start.svg') }}" alt="start icon" width="16" height="16">
                </button>
            </a>
            <a href="{{ url_for('popular', page=page-1) }}">
                <button type="button" id="prev-page" class="btn btn-dark me-2">
                    <img src="{{ url_for('static', filename='back.svg') }}" alt="start icon" width="16" height="16">
                </button>
            </a>
            {% else %}
            <button type="button" id="prev-page" class="btn btn-dark me-2" disabled>
                <img src="{{ url_for('static', filename='start.svg') }}" alt="start icon" width="16" height="16">
            </button>

            <button type="button" id="prev-page" class="btn btn-dark me-2" disabled>
                <img src="{{ url_for('static', filename='back.svg') }}" alt="start icon" width="16" height="16">
            </button>

            {% endif %}
            {% if page < pageCount %}
            <a href="{{ url_for('popular', page=page+1) }}">
                <button type="button" id="next-page" class="btn btn-dark me-2">
                    <img src="{{ url_for('static', filename='next.svg') }}" alt="start icon" width="16" height="16">
                </button>
            </a>
            <a href="{{ url_for('popular', page=pageCount) }}">
                <button type="button" id="next-page" class="btn btn-dark me-2">
                    <img src="{{ url_for('static', filename='end.svg') }}" alt="start icon" width="16" height="16">
                </button>
            </a>
            {% else %}
            <button type="button" id="next-page" class="btn btn-dark me-2" disabled>
                <img src="{{ url_for('static', filename='next.svg') }}" alt="start icon" width="16" height="16">
            </button>
            <button type="button" id="next-page" class="btn btn-dark me-2" disabled>
                <img src="{{ url_for('static', filename='end.svg') }}" alt="start icon" width="16" height="16">
            </button>
            {% endif %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='javascripts/movieResults.js') }}"></script>
    {% endblock %}