{% extends 'base.html' %}

{% block title %}Profile Page{% endblock %}


{% block content %}


{% for item in profile %}
<div class="detailsBG">
  <div class="detailsContainerTest outsetBorderWhite">
    <section class="cover">
      {% if item['cover'] == 'https://image.tmdb.org/t/p/w600_and_h900_bestv2None' %}
      <img id="profileImg" src="{{ url_for('static', filename='err_img.gif') }}" alt="movie poster">
      {% else %}
      <img id="profileImg" src="{{ item['profilePicture'] }}" alt="movie poster">
      {% endif %}
      <section class="mobileTitle">
        <h5 class="mt-2 mb-md-0 d-inline-block">{{item['name']}}</h5>
        <p class="mt-0 mb-0">Birthday: <span class="boldText">{{item['birthday']}} (Age: {{item['age']}})</span></p>
      </section>
    </section>

    <section class="details pl-2 outsetBorderWhite">
      <h3 class="mt-2 mb-md-0 d-inline-block displayNone">{{item['name']}}</h3>
      <p class="mt-0 mb-0 displayNone">Birthday: <span class="boldText">{{item['birthday']}} (Age: {{item['age']}})</span></p>
      <p class="mb-0">Known For: <span class="boldText">{{item['job']}}</span></p>
      <p class="mb-0">Born In: <span class="boldText">{{item['birthLocation']}}</span>
      </p>
    </section>

    <!-- MOBILE -->
    <section class="mobileTrailer">
      TODO
    </section>

    <section class="follow">
      TODO
    </section>

    <section class="links">
        {% set justWatchNameUrl = item['name']|replace(" ", "-")|replace("...", "")|replace("'", "")|replace(",", "")|replace(":", "") %}
        <div class="d-grid gap-2 mb-3">
        <a class="watchProviderLink" href="https://www.justwatch.com/us/movie/{{justWatchNameUrl}}" target="_blank">
            <button class="watchProvidersButton">Watch Providers</button>
        </a>
        </div>
        {% set rtNameUrl = item['name']|replace(" ", "_")|replace("...", "")|replace("'", "")|replace(",", "")|replace(":", "")|lower %}
        <div class="d-flex">
          {% if item['imdb'] != None %}
          <a class="my-1 mx-auto" href="https://www.imdb.com/title/{{item['imdb']}}" target="_blank"><img alt="IMDB Image" class="imdbImage" src="../../static/imdb.svg"></a>
          {% endif %}
          <a class="my-1 mx-auto" href="https://www.rottentomatoes.com/m/{{rtNameUrl}}" target="_blank"><img src="../../static/rt.png" alt="IMDB Image" class="imdbImage"></a>
        </div>
        
    </section>

    <section class="overview pl-2 outsetBorderWhite">
      <h4 class="pt-1">Biography</h4>
      {{ item['biography'] }}
    </section>
    
      {% if related == [] %}
      <section class="related outsetBorderWhite d-block p-0 text-center">
        <h2 class="pt-3">No related movies found...</h2>
        <form class="p-2 mx-auto" action="https://www.google.com/search" target="_blank" method="GET">
          <div class="d-grid gap-2">
            <button class="btn btn-primary btn-md m-auto" name="q" value="{{item['name']}} related movies"type="submit" class="">Click here for related movies</button>
          </div>
        </form>
      </section>
      {% else %}
      <section class="related outsetBorderWhite p-0" id="related">
      {% for movie in related %}
      <div class="relatedMovieCover pe-1">
        <a href="{{ url_for('details', id=movie['id']) }}">
          {% if movie['cover'] == 'https://image.tmdb.org/t/p/w600_and_h900_bestv2None' %}
          <img src="{{ url_for('static', filename='err_img.gif') }}" alt="movie poster">
          {% else %}
          <img src="{{ movie['cover'] }}" alt="movie poster">
          {% endif %}
        </a>
      </div>
      {% endfor %}

      <button id="slideLeft"><img class="arrowLeft" src="../../static/right2.png" alt=""></span></button>
      <button id="slideRight"><img src="../../static/right2.png" alt=""></button>
    </section>
    {% endif %}
  </div>
</div>
{% endfor %}
<script src="../static/javascripts/script.js"></script>
{% endblock %}