:root {
  --main-gray: #1c1f23;
  --main-white: #fff;
  --main-font: black;
  --main-hover-gray: #15171a;
  --navbar-height: 66px;
  --navbar-mobile-height: 57.22px;
}
html {
  height: 100vh;
  width: 100vw;
  font-size: 16px;
}

body {
  font-family: "Josefin Sans", sans-serif !important;
  overflow-x: hidden;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:focus {
  outline: none;
}

form a:link {
  text-decoration: none;
}

form a {
  color: rgb(242, 243, 234);
}
.btn-dark {
  background-color: var(--main-gray);
  transition: all 0.25s ease;
}
.btn-dark:hover {
  background-color: var(--main-hover-gray);
}
.input-group select {
  background-color: var(--main-gray);
  color: white;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}
.input-group select:hover {
  cursor: pointer;
}
.power-button:hover {
  opacity: 0.8;
}
/* Dropdown menu for navbar */
.dropdown-menu {
  background: var(--main-gray);
}
.dropdown-item {
  color: white;
}
.dropdown-menu li {
  position: relative;
}
.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}
.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
}
.dropdown-submenu.dropdown-item:hover {
  color: var(--main-gray);
}
.boldText {
  font-weight: 600;
}
.outsetBorderWhite {
  border: 3px outset rgb(151, 143, 143);
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 8px;
}
div.outsetBorderWhite {
  background-color: rgba(245, 245, 245, 0.185);
}
.formTop {
  position: relative;
  top: -5%;
}
.unconfirmed-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  margin: 5rem auto;
  text-align: center;
}

.btn-circle {
  width: 40px;
  height: 40px;
  padding: 12px 0px;
  border-radius: 20px;
  font-size: 8px;
  text-align: center;
}

section .details h3 {
  font-size: 1.7em;
}

.detailsContainer {
  position: relative;
  margin: 2% auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: 275px 1fr;
  grid-template-rows: 1fr 0.77fr auto 0.39fr;
  grid-template-areas:
    "coverart details"
    "coverart overview"
    "links related"
    "none related";
  max-height: 100%;
  width: 60%;
  gap: 1rem;
  color: var(--main-font);
}
.details-backdrop {
  padding: 1.5rem 0 1rem 0;
  min-height: calc(100vh - 66px) !important;
}

.related {
  display: flex;
  grid-area: related;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
}

.related::-webkit-scrollbar {
  display: none;
}

.relatedMovieCover {
  display: inline-block;
}

.relatedMovieCover img {
  height: 213px;
  overflow: visible;
}

.relatedMovieCover img:hover {
  opacity: 0.9;
}

.cover {
  text-align: center;
}
.cover button {
  border-radius: 0 0 5px 5px;
}
.cover button,
.mobileTrailer button {
  width: 100%;
  background-image: linear-gradient(45deg, #771f68, #cf0c0c50);
  border: none;
  padding: 0.42rem;
  opacity: 1;
  transition: 0.5s;
}

.cover button:hover,
.mobileTrailer button:hover {
  opacity: 0.8;
  cursor: pointer;
}
.watchProvidersButton {
  background-image: linear-gradient(45deg, #151d94, #00aeffbb);
  border-radius: 5px;
  border: none;
  padding: 8px;
  transition: all 0.5s;
}

.watchProvidersButton:hover {
  opacity: 0.9;
}

.cover img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.links button {
  width: 100%;
}

.cover {
  grid-area: coverart;
  max-height: 449px;
}

.follow {
  grid-area: follow;
  text-align: center;
  display: None;
}

.mobileTitle {
  display: none;
  grid-area: mobileTitle;
  text-align: left;
}

.mobileTitleProfile {
  display: none;
  grid-area: mobileTitleProfile;
  text-align: left;
}

.mobileTrailer {
  display: none;
  grid-area: mobileTrailer;
  widows: 100%;
}
.details {
  grid-area: details;
}

.overview {
  grid-area: overview;
  max-height: 300px;
  overflow-y: auto;
}

.links {
  grid-area: links;
  border-radius: 5px;
}

section .links a {
  text-decoration: none;
}
.detailsYear {
  color: rgba(0, 0, 0, 0.664);
}
.imdbImage {
  width: 80px;
}
.rtImage {
  width: 40px;
  transition: all 1s;
}

.rtImage:hover {
  transform: rotateZ(25deg);
}
#searchBarInput {
  max-height: 38px;
}
.profileContainer {
  position: relative;
  margin: 2% auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: 226px 1fr;
  grid-template-rows: 0.3fr 0.4fr 0.5fr 1fr;
  grid-template-areas:
    "pic details"
    "pic bio"
    "links gallery"
    "movies movies";
  max-height: 100%;
  width: 60%;
  gap: 1rem;
  color: var(--main-font);
}

.profileCover {
  grid-area: pic;
}

.profileDetails {
  grid-area: details;
}

.profileOverview {
  grid-area: bio;
  overflow-y: scroll;
  height: 190px;
}

.profileRelated {
  grid-area: movies;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
}

.profilePics {
  height: 230px;
  grid-area: gallery;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
}

.profilePics::-webkit-scrollbar {
  display: none;
}

.profileRelatedMovieCover,
.profilePicsPictures {
  display: inline-block;
}

.profilePicsPictures img {
  height: 230px;
  overflow: visible;
}
.profileRelatedMovieCover img {
  height: 230px;
  overflow: visible;
}

.profileRelatedMovieCover img:hover,
.profilePicsPictures img:hover {
  opacity: 0.9;
}
.profileLinks {
  grid-area: links;
}

.profileCover img {
  height: 344px;
}

.profileRelated::-webkit-scrollbar {
  display: none;
}

.profileRelatedMovieCover {
  display: inline-block;
}

.profileRelatedMovieCover img {
  height: 230px;
  overflow: visible;
}

.profileRelatedMovieCover img:hover {
  opacity: 0.9;
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
  text-align: center;
}
#slideLeft {
  position: absolute;
  top: 81%;
  left: 349px;
  transform: translate(-50%, -50%);
}

#slideRight {
  position: absolute;
  top: 77%;
  right: 58px;
  transform: translate(50%, 50%);
}
.hide-focus {
  background: none;
  border: none;
  color: white;
  opacity: 0.7;
}
.hide-focus:focus {
  outline: none;
}
.hide-focus:hover {
  opacity: 1;
  cursor: pointer;
}

#slideLeft img,
#slideLeftProfile img,
#slideLeftProfilePics img {
  transform: scaleX(-1);
}

/* PROFILE PICS BUTTONS */

#slideLeftProfile {
  position: absolute;
  top: 750px;
  left: 57px;
  transform: translate(-50%, -50%);
}

#slideRightProfile {
  position: absolute;
  top: 718px;
  right: 54px;
  transform: translate(50%, 50%);
}

#slideLeftProfilePics {
  position: absolute;
  top: 497px;
  left: 297px;
  transform: translate(-50%, -50%);
}

#slideRightProfilePics {
  position: absolute;
  top: 466px;
  right: 54px;
  transform: translate(50%, 50%);
}
#profileInfo {
  overflow-y: scroll;
}

section .follow button {
  width: 100%;
}

input[type="text"]:focus,
input[type="select"]:target {
  border-color: #23272b;
  box-shadow: 0 1px 1px white inset, 0 0 8px #23272b;
  outline: 0 none;
}

#followsTable {
  margin-bottom: 5rem;
}

#profileImg {
  border-radius: 5px;
}

#search_container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  text-align: center;
  border: 3px outset var(--main-gray);
  background-color: #100f0f14;
  border-radius: 5px;
  max-width: 479px;
}

.indexSelect {
  text-align: center;
  max-width: 100px;
}
#search_button {
  min-width: 50%;
  background-color: var(--main-gray);
  transition: all 0.25s;
}
#search_button:hover {
  background-color: var(--main-hover-gray);
}

#resultsContainer {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#detailsContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  max-height: 80vh !important;
}

#movie_cover {
  max-width: 80% !important;
  max-height: 350px !important;
}

#movieDetailsContainer {
  width: 33vw;
  max-height: 100vh !important;
}

#movieContainer {
  max-height: 513px !important;
  border: 2px solid;
  border-radius: 9.5px;
  box-shadow: 3px 3px 3px 1px #888888;
  -webkit-animation: shadow_out 0.25s ease-in-out;
  animation: shadow_out 0.25s ease-in-out;
  transition: transform 0.15s;
}

#movieContainer:hover {
  cursor: pointer;
  transform: scale(1.005);
  -webkit-animation: shadow_in 0.25s ease-in-out;
  animation: shadow_in 0.25s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#followsCover {
  width: 25px;
}

#followsContainer {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

/* Classes to be used in javascript mouseenter and leave events */
.dark-hover-btn {
  background-color: var(--main-gray);
  color: var(--main-white);
}
.light-hover-btn {
  background-color: var(--main-white);
  color: var(--main-gray);
}

.resultsContainer #details_login_button {
  border-radius: 5px 0 0 5px !important;
  transition: all 0.35s ease;
}

.resultsContainer #details_button {
  border-radius: 0 5px 5px 0 !important;
  transition: all 0.35s ease;
}
.resultsContainer #details_button:hover {
  background-color: var(--main-white);
  color: var(--main-gray);
}
#inputGroup-sizing-default:hover {
  background-color: #1f252b !important;
}

#register_container {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50%;
  margin-right: 50%;
}

#register {
  width: 50%;
}

#flap {
  -webkit-animation: flap_out 3s ease;
  animation: flap_out 3s ease;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  transform-origin: bottom left;
  transform-box: fill-box;
}

.thead-lightish {
  background-color: #615f5f3a;
}

.bg-unreleased {
  background-color: #ff000027 !important;
}

.bg-released {
  background-color: #18f50024;
}

svg:hover #flap {
  -webkit-animation: flap_in 0.5s ease;
  animation: flap_in 0.5s ease;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  transform-origin: bottom left;
  transform-box: fill-box;
}

@-webkit-keyframes flap_in {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(33deg);
  }
}

@-webkit-keyframes flap_out {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(33deg);
  }
}

@keyframes flap_in {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(33deg);
  }
}

@keyframes flap_out {
  from {
    transform: rotateZ(33deg);
  }

  to {
    transform: rotateZ(0deg);
  }
}

@-webkit-keyframes shadow_in {
  from {
    box-shadow: 3px 3px 3px 1px #888888;
  }

  to {
    box-shadow: none;
  }
}

@keyframes shadow_in {
  from {
    box-shadow: 3px 3px 3px 1px #888888;
  }

  to {
    box-shadow: none;
  }
}

@-webkit-keyframes shadow_out {
  from {
    box-shadow: none;
  }

  to {
    box-shadow: 3px 3px 3px 1px #888888;
  }
}

@keyframes shadow_out {
  from {
    box-shadow: none;
  }

  to {
    box-shadow: 3px 3px 3px 1px #888888;
  }
}

@media only screen and (max-width: 1500px) {
  .detailsContainer,
  .profileContainer {
    width: 80%;
    font-size: 0.95em;
  }

  #movieContainer {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 1400px) {
  #movieDetailsContainer {
    width: 40%;
  }
}

@media only screen and (max-width: 1200px) {
  .profileContainer {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 992px) {
  .details-backdrop {
    min-height: calc(100vh - var(--navbar-mobile-height)) !important;
  }
  .dropdown-menu .dropdown-submenu {
    position: absolute;
    left: 0;
    top: 30px;
    right: 0;
    bottom: 0;
  }
  .dropdown-submenu:last-child {
    border-radius: 10px;
  }
  .dropdown-item {
    background: var(--main-gray);
  }

  #search_container {
    width: 90%;
    position: relative;
    transform: translate(-50%, 25vh);
  }

  .detailsContainer {
    margin-top: 1rem;
    grid-template-columns: 195px 1fr;
    grid-template-rows: 300px auto 1fr 0.5fr;
    grid-template-areas:
      "coverart details"
      "overview overview"
      "related related"
      "links links";
    min-height: 80%;
    width: 90%;
  }

  .details {
    overflow-y: auto;
  }

  div .detailsContainer section .overview {
    overflow: auto;
  }

  .details h3 {
    font-size: 0.8em;
  }

  .related {
    min-height: 120px !important;
  }

  .links {
    min-height: 100px !important;
  }

  .cover img {
    height: 265px;
  }

  .profileContainer {
    position: relative;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 195px 1fr;
    grid-template-rows: 1fr 0.5fr 0.7fr 0.79fr 0.1fr;
    grid-template-areas:
      "pic details"
      "bio bio"
      "gallery gallery"
      "movies movies"
      "links links";
    max-height: 100%;
    min-height: 80%;
    width: 90%;
  }

  #followsContainer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  #slideLeft {
    top: 64%;
    left: 57px;
  }

  #slideRight {
    top: 61%;
    right: 58px;
  }

  #slideLeftProfile {
    top: 919px;
    left: 57px;
  }

  #slideRightProfile {
    top: 888px;
    right: 54px;
  }

  #slideLeftProfilePics {
    top: 666px;
    left: 57px;
  }

  #slideRightProfilePics {
    top: 635px;
  }
  #profileImg {
    height: 298px;
  }
  /* DO YOU NEED THIS????/ */
  @media only screen and (max-height: 900px) {
    #detailsContainer {
      height: 50%;
    }
  }

  @media only screen and (min-height: 950px) {
    .detailsContainer {
      margin: 10% auto;
    }
  }
  @media only screen and (max-width: 900px) {
    #movieDetailsContainer {
      width: 55%;
    }
    #search_container h2 {
      font-size: 1.6em;
    }
  }

  @media only screen and (max-width: 750px) {
    #movieDetailsContainer {
      border: none !important;
      width: 100%;
      height: 100%;
    }
    .unconfirmed-wrapper {
      width: 80%;
    }
  }

  @media only screen and (max-width: 700px) {
    .detailsContainer {
      grid-template-columns: 128px 1fr;
      grid-template-rows: 200px 0.1fr 1fr 0.6fr 0.5fr;
      grid-template-areas:
        "coverart details"
        "follow follow"
        "overview overview"
        "related related"
        "links links";
    }

    section .details h3 {
      font-size: 1.4em;
    }

    .cover img {
      height: 163px;
    }

    section .details .btn-circle,
    section .details button {
      display: none;
    }

    section .follow {
      display: block;
    }

    #details_login_button {
      opacity: 1;
      transition: all 1s;
    }
    #details_login_button:hover {
      transform: none;
      opacity: 0.8;
    }
    section .related .relatedMovieCover img {
      height: 145px;
    }
    section .related {
      height: 150px;
    }
    #slideLeft,
    #slideRight,
    #slideLeftProfile,
    #slideRightProfile,
    #slideLeftProfilePics,
    #slideRightProfilePics {
      display: none;
    }

    #profileImg {
      height: 200px;
    }

    .profileContainer {
      grid-template-columns: 128px 1fr;
      grid-template-rows: 200px 0.8fr 1fr 1fr 0.1fr;
    }
  }

  @media only screen and (max-width: 575px) {
    #movieContainer {
      display: grid;
      font-size: 1.1em;
      text-align: left !important;
      grid-template-columns: 0.4fr 1fr;
      grid-template-rows: 0.8fr 0.8fr 1fr;
      grid-template-areas:
        "coverimg title"
        "coverimg rating"
        "coverimg links";
      height: 200px;
    }
    .titleYear {
      grid-area: title;
      display: inline-block;
    }
    .movieRating {
      grid-area: rating;
    }
    #movie_cover {
      height: 197px;
      min-width: 128px;
      grid-area: coverimg;
      border-radius: 5px;
      margin-right: 1rem;
    }
    .btnGroup {
      grid-area: links;
    }
    #movieContainer {
      -webkit-animation: none;
      animation: none;
      transition: none;
    }

    #movieContainer:hover {
      box-shadow: 5px 5px 2.5px #888888;
      transform: none;
      -webkit-animation: none;
      animation: none;
      -webkit-animation-fill-mode: none;
      animation-fill-mode: none;
    }
  }

  @media only screen and (max-width: 500px) {
    .detailsContainer {
      padding: 10px;
      width: 100vw;
      grid-template-columns: 1fr auto;
      grid-template-rows: 160px 0.1fr 0.8fr 0.1fr 1fr 0.5fr;
      grid-template-areas:
        "coverart mobileTitle"
        "mobileTrailer mobileTrailer"
        "details details"
        "follow follow"
        "overview overview"
        "related related"
        "links links";
    }

    .mobileTrailer {
      display: block;
      width: 100%;
      margin-right: 62%;
      border-radius: 0 0 5px 5px;
    }
    .mobileTrailer button {
      margin: 1px auto;
      width: 99%;
      border-radius: 5px;
      color: white;
      font-size: larger;
    }
    section .mobileTitle {
      display: inline;
      width: 100%;
      height: 200px;
      margin-left: 1.5rem;
      overflow-y: auto;
    }
    section .cover {
      display: flex;
      height: 160px;
      width: 103.5%;
      border: 3px outset var(--main-font);
      background-color: whitesmoke;
      border-radius: 5px;
    }
    .cover img {
      width: 135px;
      height: 153.8px;
      border-radius: 5px;
    }

    section .details {
      max-height: 240px;
    }

    section .details .displayNone {
      display: none !important;
    }

    section .cover button {
      display: none;
    }
    #followsContainer {
      width: 95%;
      font-size: 0.85em;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #followsContainer button {
      font-size: 0.85em !important;
    }

    #search_container h2 {
      font-size: 1.2em;
    }

    #search_container input,
    #search_container button {
      font-size: 0.9em;
    }

    #profileImg {
      height: 154px;
    }

    .profileContainer {
      padding: 10px;
      width: 100vw;
      grid-template-columns: 1fr auto;
      grid-template-rows: 160px 0.5fr 0.6fr 0.8fr 0.1fr;
      grid-template-areas:
        "pic mobileTitleProfile"
        "bio bio"
        "gallery gallery"
        "movies movies"
        "links links";
    }
    section .profileDetails {
      display: none;
    }
    .mobileTitleProfile {
      display: inline;
      width: 100%;
      height: 200px;
      margin-left: 1.5rem;
      overflow-y: auto;
    }

    .profileRelatedMovieCover img {
      height: 146px !important;
    }

    section .profileCover {
      display: flex;
      height: 160px;
      width: 103.5%;
      border: 3px outset var(--main-font);
      background-color: whitesmoke;
      border-radius: 5px;
    }

    section .profilePics {
      height: 150px;
    }
    section .profilePics .profilePicsPictures img {
      height: 148px;
    }
  }
}
