:root[color-mode="light"] {
  --main-gray: #1c1f23;
  --main-white: #f2f3f4;
  --main-font: black;
  --main-hover-gray: #15171a;
  --login-btn-color: #f2f3f4;
  --login-border-color: black;
  --like-btn-color: var(--main-white);
  --like-btn-border: rgb(220, 53, 69);
  --like-btn-heart: rgb(220, 53, 69);
  --box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 1px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 3px;
}
:root[color-mode="dark"] {
  --main-gray: #616e7c;
  --main-white: #1f2933;
  --main-font: #f2f2f2;
  --main-hover-gray: #717d8e;
  --login-btn-color: #ecc68d;
  --login-border-color: transparent;
  --like-btn-color: #ecc68d;
  --like-btn-border: transparent;
  --like-btn-heart: #616e7c;
  --box-shadow: rgba(176, 196, 222, 0.753) 0px 1px 2px 1px,
    rgba(176, 196, 222, 0.37) 0px 2px 6px 3px;
}
:root {
  --navbar-height: 58px;
  --navbar-mobile-height: 57.22px;
  --border-radius: 5px;
  --always-white: #f2f3f4;
}
/*---------------------- Dark mode styles --------------------*/
/* Any element with the class "light--hidden" will be hidden when the site is set to Light Mode */
:root[color-mode="light"] .light--hidden {
  display: none;
}

/* Any element with the class "dark--hidden" will be hidden when the site is set to Dark Mode */
:root[color-mode="dark"] .dark--hidden {
  display: none;
}

* {
  transition: background-color 0.6s ease, color 1s ease;
  -webkit-transition: background-color 0.6s ease, color 1s ease;
}
.color-mode__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 30px;
  position: absolute;
  top: 15px;
  right: 257px;
  border-radius: 50%;
  background-color: transparent;
  color: var(--main-white);
  transition: -webkit-filter 0.25s ease;
  transition: filter 0.25s ease;
  transition: filter 0.25s ease, -webkit-filter 0.25s ease;
}
.color-mode__btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.color-mode__btn.not-reg {
  right: 160px;
  top: 13px;
}

#details_follow_button {
  background-color: var(--like-btn-color);
  border-color: var(--like-btn-border);
  color: var(--like-btn-heart);
}
#details_follow_button:hover {
  background-color: var(--like-btn-heart);
  border-color: var(--like-btn-border);
  color: var(--like-btn-color);
}

/* End dark mode styles */

html {
  height: 100vh;
  width: 100vw;
  font-size: 16px;
}

body {
  font-family: "Josefin Sans", sans-serif !important;
  overflow-x: hidden;
  color: var(--main-font);
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:focus {
  outline: none;
}

form a:link {
  text-decoration: none;
}

form a {
  color: rgb(242, 243, 234);
}

body {
  background-color: var(--main-white);
}
.testie {
  min-height: calc(100vh - var(--navbar-height));
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-dark {
  background-color: var(--main-gray);
  transition: all 0.25s ease;
}
.btn-dark:hover {
  background-color: var(--main-hover-gray);
}

.navbar-light .navbar-toggler {
  color: var(--main-font);
  fill: var(--main-font);
}
.navbar-nav .nav-link {
  color: var(--main-font) !important;
}
.navbar-nav .nav-link:hover {
  color: darkcyan !important;
}
#hidden {
  display: none;
}
.btn-close {
  width: 15px;
  background-size: 15px;
}
.modal-body {
  font-size: 0.7em;
}
.modal-content {
  background-color: rgba(255, 255, 255, 0.849);
}
.form-check *:hover {
  cursor: pointer;
}
.form-check-input:checked[type="checkbox"]#inlineCheckbox1 {
  background-image: url("theatre.png");
}
.form-check-input:checked[type="checkbox"]#inlineCheckbox2 {
  background-image: url("digital.png");
}
.form-check-label {
  padding-top: 0.34rem;
}
.input-group select {
  background-color: var(--main-gray);
  color: white;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}
.input-group select:hover {
  cursor: pointer;
}
.power-button svg {
  fill: var(--main-font);
  width: 20px;
  height: 20px;
}
.power-button:hover {
  opacity: 0.8;
}
/* Dropdown menu for navbar */
.dropdown-menu {
  background: var(--main-gray);
}
.dropdown-item {
  color: var(--always-white);
}
.dropdown-menu li {
  position: relative;
}
.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}

/* Flash message styles */
.danger {
  background-color: rgba(255, 0, 0, 0.404) !important;
  border: 1px solid var(--main-gray) !important;
}
.warning {
  background-color: rgba(255, 245, 111, 0.61) !important;
  border: 1px solid var(--main-gray) !important;
}
.success {
  background-color: rgba(26, 121, 48, 0.473) !important;
  border: 1px solid var(--main-gray) !important;
}
.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
}
.dropdown-submenu.dropdown-item:hover {
  color: var(--main-gray);
}
.boldText {
  font-weight: 600;
}
.outsetBorderWhite {
  border: 3px outset rgb(151, 143, 143);
  background-color: whitesmoke;
  border-radius: var(--border-radius);
  padding: 8px;
}
div.outsetBorderWhite {
  background-color: rgba(245, 245, 245, 0.185);
}
.formTop {
  position: relative;
  top: -5%;
}
#movieContainer .movieRating {
  margin-top: 1rem !important;
}

.sort-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
#sort_by {
  background-color: var(--main-gray);
  border-color: var(--main-white);
  border-radius: var(--border-radius);
  color: var(--always-white);
  padding: 0.5rem 0.25rem 0.25rem 0.25rem;
}
#sort_by:hover {
  cursor: pointer;
}
.unconfirmed-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  margin: 5rem auto;
  text-align: center;
}
.error-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5rem auto;
  height: 100%;
  width: 50%;
  text-align: center;
}
.error-header {
  margin-bottom: 1.5rem;
}
.error-image {
  width: 100%;
  max-width: 479px;
  height: auto;
  margin-bottom: 1rem;
}
.btn-circle {
  width: 40px;
  height: 40px;
  padding: 12px 0px;
  border-radius: 20px;
  font-size: 8px;
  text-align: center;
}
.transparent-details-bg {
  background-color: rgba(255, 255, 255, 0.137) !important;
}
.transparent-details-bg:hover {
  background-color: rgba(255, 255, 255, 0.664) !important;
}
section .details h3 {
  font-size: 1.7em;
}

.detailsContainer {
  position: relative;
  margin: 2% auto;
  padding: 2rem;
  display: grid;
  color: black;
  grid-template-columns: 275px 1fr;
  grid-template-rows: 1fr 0.77fr auto auto;
  grid-template-areas:
    "coverart details"
    "coverart overview"
    "links related"
    "links related";
  max-height: 100%;
  width: 80%;
  max-width: 1145px;
  gap: 1rem;
}
.details-backdrop {
  padding: 1.5rem 0 1rem 0;
  min-height: calc(100vh - var(--navbar-height)) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sort-wrapper a {
  text-decoration: none;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  color: rgba(0, 0, 0, 0.549);
}
.sort-wrapper a:hover {
  -webkit-filter: brightness(10%);
  filter: brightness(10%);
  color: rgba(0, 0, 0, 0.726);
}
.related {
  display: flex;
  grid-area: related;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
}

.related::-webkit-scrollbar {
  display: none;
}

.relatedMovieCover {
  display: inline-block;
  border-right: 1px solid var(--main-gray);
}

.relatedMovieCover img {
  height: 100%;
  overflow: visible;
  max-height: 224px;
}

.relatedMovieCover img:hover {
  opacity: 0.9;
}

.cover {
  text-align: center;
}
.cover button {
  border-radius: 0 0 5px 5px;
}
.cover button,
.mobileTrailer button {
  width: 100%;
  background-image: linear-gradient(45deg, #771f68, #cf0c0c50);
  border: none;
  padding: 0.42rem;
  opacity: 1;
  transition: 0.5s;
}

.cover button:hover,
.mobileTrailer button:hover {
  opacity: 0.8;
  cursor: pointer;
}
.watchProvidersButton {
  background-image: linear-gradient(45deg, #151d94, #00aeffbb);
  border-radius: var(--border-radius);
  border: none;
  padding: 8px;
  transition: all 0.5s;
}

.watchProvidersButton:hover {
  opacity: 0.9;
}

.cover img {
  width: 100%;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.links button {
  width: 100%;
}

.cover {
  grid-area: coverart;
  max-height: 449px;
}

.follow {
  grid-area: follow;
  text-align: center;
  display: None;
}

.mobileTitle {
  display: none;
  grid-area: mobileTitle;
  text-align: left;
}

.mobileTitleProfile {
  display: none;
  grid-area: mobileTitleProfile;
  text-align: left;
}

.mobileTrailer {
  display: none;
  grid-area: mobileTrailer;
  width: 100%;
}
.details {
  grid-area: details;
}

.overview {
  grid-area: overview;
  max-height: 300px;
  overflow-y: auto;
}

.links {
  grid-area: links;
  border-radius: var(--border-radius);
  align-self: self-end;
}
.details-links-wrapper {
  display: flex;
  flex-direction: column;
}

/* section .links a {
  text-decoration: none;
} */
.detailsYear {
  color: rgba(0, 0, 0, 0.664);
}
.imdbImage {
  width: 40px;
}
.rtImage {
  width: 40px;
  transition: all 1s;
}

.rtImage:hover {
  transform: rotateZ(25deg);
}
#searchBarInput {
  max-height: 38px;
}
.profileContainer {
  position: relative;
  margin: 2% auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: 226px 1fr;
  grid-template-rows: 0.3fr 0.4fr 0.5fr 1fr;
  grid-template-areas:
    "pic details"
    "pic bio"
    "links gallery"
    "movies movies";
  max-height: 100%;
  width: 60%;
  gap: 1rem;
  color: black;
}

.profileCover {
  grid-area: pic;
}

.profileDetails {
  grid-area: details;
}

.profileOverview {
  grid-area: bio;
  overflow-y: scroll;
  height: 190px;
}

.profileRelated {
  grid-area: movies;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
}

.profilePics {
  height: 230px;
  grid-area: gallery;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
}
.dark-mode {
  color: #e0e0e0 !important;
}
.dark-mode-bg {
  background-color: #121212;
}
.profilePics::-webkit-scrollbar {
  display: none;
}

.profileRelatedMovieCover,
.profilePicsPictures {
  display: inline-block;
}

.profilePicsPictures img {
  height: 230px;
  overflow: visible;
  border-right: 1px solid var(--main-gray);
}
.profileRelatedMovieCover img {
  height: 230px;
  overflow: visible;
  border-right: 1px solid var(--main-gray);
}

.profileRelatedMovieCover img:hover,
.profilePicsPictures img:hover {
  opacity: 0.9;
}
.profileLinks {
  grid-area: links;
}

.profileCover img {
  height: 344px;
}

.profileRelated::-webkit-scrollbar {
  display: none;
}

.profileRelatedMovieCover {
  display: inline-block;
}

.profileRelatedMovieCover img {
  height: 230px;
  overflow: visible;
}

.profileRelatedMovieCover img:hover {
  opacity: 0.9;
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
  text-align: center;
  color: black;
}
#slideLeft {
  position: absolute;
  top: 81%;
  left: 349px;
  transform: translate(-50%, -50%);
}

#slideRight {
  position: absolute;
  top: 77%;
  right: 58px;
  transform: translate(50%, 50%);
}
.hide-focus {
  background: none;
  border: none;
  color: white;
  opacity: 0.7;
}
.hide-focus:focus {
  outline: none;
}
.hide-focus:hover {
  opacity: 1;
  cursor: pointer;
}

#slideLeft img,
#slideLeftProfile img,
#slideLeftProfilePics img {
  transform: scaleX(-1);
}

/* PROFILE PICS BUTTONS */

#slideLeftProfile {
  position: absolute;
  top: 750px;
  left: 57px;
  transform: translate(-50%, -50%);
}

#slideRightProfile {
  position: absolute;
  top: 718px;
  right: 54px;
  transform: translate(50%, 50%);
}

#slideLeftProfilePics {
  position: absolute;
  top: 497px;
  left: 297px;
  transform: translate(-50%, -50%);
}

#slideRightProfilePics {
  position: absolute;
  top: 466px;
  right: 54px;
  transform: translate(50%, 50%);
}
#profileInfo {
  overflow-y: scroll;
}

section .follow button {
  width: 100%;
}

input[type="text"]:focus,
input[type="select"]:target {
  border-color: #23272b;
  box-shadow: 0 1px 1px white inset, 0 0 8px #23272b;
  outline: 0 none;
}

#followsTable {
  margin-bottom: 5rem;
  color: var(--main-font);
}

#profileImg {
  border-radius: var(--border-radius);
}

#search_container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  text-align: center;
  border: 3px outset var(--main-font);
  background-color: #100f0f14;
  border-radius: var(--border-radius);
  max-width: 479px;
}

.indexSelect {
  text-align: center;
  max-width: 100px;
}
#search_button {
  background-color: var(--main-gray);
  transition: all 0.25s;
}
.search-results {
  position: absolute;
  top: 38px;
  width: 100%;
  background-color: var(--main-gray);
  list-style-type: none;
  text-align: left;
  padding-left: 5px;
  color: white;
  max-height: 300px;
  overflow-y: scroll;
  z-index: 3;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
.search-results li {
  background-color: var(--main-gray);
  padding: 0.5rem;
}
.search-results li:hover {
  background-color: var(--main-hover-gray);
  cursor: pointer;
}
#search_button:hover {
  background-color: var(--main-hover-gray);
}

#resultsContainer {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#detailsContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  max-height: 80vh !important;
}

#movie_cover {
  max-width: 80% !important;
  max-height: 350px !important;
  border-radius: 9.5px;
  border: 1px solid;
}

#movieDetailsContainer {
  width: 33vw;
  max-height: 100vh !important;
}

#movieContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 0.5rem;
  /* max-height: 513px !important; */
  /* border: 1px inset var(--main-gray); */
  border-radius: 9.5px;
  box-shadow: var(--box-shadow);
  -webkit-animation: shadow_out 0.25s ease-in-out;
  animation: shadow_out 0.25s ease-in-out;
  transition: transform 0.15s;
}

#movieContainer:hover {
  cursor: pointer;
}

#followsCover {
  width: 25px;
}

#followsContainer {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

/* Classes to be used in javascript mouseenter and leave events */
.dark-hover-btn {
  background-color: var(--main-gray) !important;
  color: var(--always-white) !important;
}
.light-hover-btn {
  background-color: var(--login-btn-color) !important;
  color: var(--main-font) !important;
}

.resultsContainer #details_login_button,
.resultsContainer #details_follow_button {
  border-radius: var(--border-radius) 0 0 var(--border-radius) !important;
  transition: all 0.35s ease;
}

.resultsContainer #details_login_button {
  background: var(--login-btn-color);
  border: 1px solid var(--login-border-color);
  color: var(--main-font);
}
.resultsContainer #details_login_button:hover {
  background: var(--main-gray);
  color: var(--always-white);
}

.resultsContainer #details_button {
  border-radius: 0 var(--border-radius) var(--border-radius) 0 !important;
  transition: all 0.35s ease;
  border: 1px solid var(--main-gray);
}
.resultsContainer #details_button:hover {
  background: var(--login-btn-color);
}
#details_button:hover,
#next-page:hover {
  background-color: var(--main-white);
  color: var(--main-font);
}
#inputGroup-sizing-default:hover {
  background-color: #1f252b !important;
}

#register_container {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50%;
  margin-right: 50%;
}

#register {
  width: 50%;
}

#flap {
  -webkit-animation: flap_out 3s ease;
  animation: flap_out 3s ease;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  transform-origin: bottom left;
  transform-box: fill-box;
}

.thead-lightish {
  background-color: #615f5f3a;
}

.bg-unreleased {
  background-color: #ff000027 !important;
}

.bg-released {
  background-color: #18f50024;
}
svg:hover #flap {
  -webkit-animation: flap_in 0.5s ease;
  animation: flap_in 0.5s ease;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  transform-origin: bottom left;
  transform-box: fill-box;
}

@-webkit-keyframes flap_in {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(33deg);
  }
}

@-webkit-keyframes flap_out {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(33deg);
  }
}

@keyframes flap_in {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(33deg);
  }
}

@keyframes flap_out {
  from {
    transform: rotateZ(33deg);
  }

  to {
    transform: rotateZ(0deg);
  }
}

/* VIDEO LIGHTBOX STYLES */
/* SRC: https://github.com/sricharankrishnan/click-image-play-youtube-video/blob/master/README.md */
.videoPlayerOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1200;
  background-color: rgba(0, 0, 0, 0.5);
  transition-property: all;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
}
.videoPlayerOverlay .closeIcon {
  position: absolute;
  display: flex;
  right: 15px;
  top: 15px;
  width: 3rem;
  z-index: 200;
  padding: 10px;
  border-radius: 50%;
  border: 0;
  background: #fff;
  width: 30px;
  height: 30px;
  transition-property: transform;
  -moz-transition-property: transform;
  -webkit-transition-property: transform;
  -o-transition-property: transform;
  -ms-transition-property: transform;
  transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
}
.closeIcon img {
  width: 100%;
  height: auto;
}
.videoPlayerOverlay iframe {
  max-width: 853px;
  max-height: 480px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
}
.videoPlayerOverlay.hiddenTransform {
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  -webkit-transform: translateY(50px);
}

@media only screen and (max-width: 1500px) {
  .profileContainer {
    width: 80%;
    font-size: 0.95em;
  }

  #movieContainer {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 1400px) {
  #movieDetailsContainer {
    width: 40%;
  }
}
@media only screen and (max-width: 1310px) and (min-width: 1200px) {
  #movieContainer .btn-group button {
    padding: 5px 15px !important;
  }
}
@media only screen and (min-width: 1200px) {
  .videoPlayerOverlay .closeIcon:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
  }
}
@media only screen and (max-width: 1200px) {
  .profileContainer {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 992px) {
  .relatedMovieCover {
    padding-right: 2px;
  }
  .details-backdrop {
    min-height: calc(100vh - var(--navbar-mobile-height)) !important;
  }
  .dropdown-menu .dropdown-submenu {
    position: absolute;
    left: 0;
    top: 30px;
    right: 0;
    bottom: 0;
  }
  .dropdown-submenu:last-child {
    border-radius: 10px;
  }
  .dropdown-item {
    background: var(--main-gray);
  }

  #search_container {
    width: 90%;
    /* position: relative;
    transform: translate(-50%, 25vh); */
  }

  .detailsContainer {
    margin-top: 1rem;
    grid-template-columns: 195px 1fr;
    grid-template-rows: 300px auto 1fr 0.5fr;
    grid-template-areas:
      "coverart details"
      "overview overview"
      "related related"
      "links links";
    min-height: 80%;
    width: 90%;
  }

  .details {
    overflow-y: auto;
  }

  div .detailsContainer section .overview {
    overflow: auto;
  }

  .details h3 {
    font-size: 0.8em;
  }

  .related {
    min-height: 120px !important;
  }

  .links {
    align-self: flex-start;
  }

  .cover img {
    height: 265px;
  }

  .profileContainer {
    position: relative;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 195px 1fr;
    grid-template-rows: 1fr 0.5fr 0.7fr 0.79fr 0.1fr;
    grid-template-areas:
      "pic details"
      "bio bio"
      "gallery gallery"
      "movies movies"
      "links links";
    max-height: 100%;
    min-height: 80%;
    width: 90%;
  }

  #followsContainer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  #slideLeft {
    top: 69%;
    left: 57px;
  }

  #slideRight {
    top: 65%;
    right: 58px;
  }

  #slideLeftProfile {
    top: 919px;
    left: 57px;
  }

  #slideRightProfile {
    top: 888px;
    right: 54px;
  }

  #slideLeftProfilePics {
    top: 666px;
    left: 57px;
  }

  #slideRightProfilePics {
    top: 635px;
  }
  #profileImg {
    height: 298px;
  }
  .power-button:hover {
    cursor: pointer;
  }
  .power-button svg {
    display: none;
  }
  .power-button::before {
    content: "Logout";
  }
  .color-mode__btn {
    right: 119px;
  }

  .color-mode__btn.not-reg {
    right: 115px;
    top: 14px;
  }
  /* DO YOU NEED THIS????/ */
  @media only screen and (max-height: 900px) {
    #detailsContainer {
      height: 50%;
    }
  }

  @media only screen and (max-width: 900px) {
    #movieDetailsContainer {
      width: 55%;
    }
    #search_container h2 {
      font-size: 1.6em;
    }
  }

  @media only screen and (max-width: 768px) {
    .resultsContainer {
      margin-top: 1rem;
    }
  }
  @media only screen and (max-width: 750px) {
    #movieDetailsContainer {
      border: none !important;
      width: 100%;
      height: 100%;
    }
    .unconfirmed-wrapper {
      width: 80%;
    }
  }

  @media only screen and (max-width: 700px) {
    .detailsContainer {
      grid-template-columns: 128px 1fr;
      grid-template-rows: 200px 0.1fr 1fr 0.6fr 0.5fr;
      grid-template-areas:
        "coverart details"
        "follow follow"
        "overview overview"
        "related related"
        "links links";
    }

    section .details h3 {
      font-size: 1.4em;
    }

    .cover img {
      height: 163px;
    }

    section .details .btn-circle,
    section .details button {
      display: none;
    }

    section .follow {
      display: block;
    }

    #details_login_button {
      opacity: 1;
      transition: all 1s;
    }
    #details_login_button:hover {
      transform: none;
      opacity: 0.8;
    }
    section .related .relatedMovieCover img {
      height: 145px;
    }
    section .related {
      height: 150px;
    }
    #slideLeft,
    #slideRight,
    #slideLeftProfile,
    #slideRightProfile,
    #slideLeftProfilePics,
    #slideRightProfilePics {
      display: none;
    }

    #profileImg {
      height: 200px;
    }

    .profileContainer {
      grid-template-columns: 128px 1fr;
      grid-template-rows: 200px 0.8fr 1fr 1fr 0.1fr;
    }
    /* .links {
    align-self: flex-start;
    margin-bottom: 1rem;
  } */
  }
  @media only screen and (max-width: 610px) {
    .profilePics {
      justify-self: auto !important;
    }
  }
  @media only screen and (max-width: 575px) {
    #movieContainer {
      display: grid;
      font-size: 1.1em;
      text-align: left !important;
      grid-template-columns: 0.4fr 1fr;
      grid-template-rows: 0.8fr 0.8fr 1fr;
      grid-template-areas:
        "coverimg title"
        "coverimg rating"
        "coverimg links";
      height: 200px;
    }
    .titleYear {
      grid-area: title;
      display: inline-block;
    }
    .movieRating {
      grid-area: rating;
    }
    #movie_cover {
      height: 197px;
      min-width: 128px;
      grid-area: coverimg;
      margin-right: 1rem;
    }
    .btnGroup {
      grid-area: links;
    }
    #movieContainer {
      -webkit-animation: none;
      animation: none;
      transition: none;
    }

    #movieContainer:hover {
      box-shadow: 5px 5px 2.5px #888888;
      transform: none;
      -webkit-animation: none;
      animation: none;
      -webkit-animation-fill-mode: none;
      animation-fill-mode: none;
    }
  }

  @media only screen and (max-width: 500px) {
    .detailsContainer {
      padding: 10px;
      width: 100vw;
      grid-template-columns: 1fr auto;
      grid-template-rows: 160px 0.1fr 0.8fr 0.1fr 1fr 0.5fr;
      grid-template-areas:
        "coverart mobileTitle"
        "mobileTrailer mobileTrailer"
        "details details"
        "follow follow"
        "overview overview"
        "related related"
        "links links";
    }

    .mobileTrailer {
      display: block;
      width: 100%;
      margin-right: 62%;
      border-radius: 0 0 5px 5px;
    }
    .mobileTrailer button {
      margin: 1px auto;
      width: 99%;
      border-radius: var(--border-radius);
      color: white;
      font-size: larger;
    }
    section .mobileTitle {
      display: inline;
      width: 100%;
      height: 200px;
      margin-left: 1.5rem;
      overflow-y: auto;
    }
    section .cover {
      display: flex;
      height: 160px;
      width: 103.5%;
      border: 3px outset var(--main-font);
      border-radius: var(--border-radius);
    }
    .cover img {
      width: 135px;
      height: 153.8px;
      border-radius: var(--border-radius);
    }

    section .details {
      max-height: 240px;
    }

    section .details .displayNone {
      display: none !important;
    }

    section .cover button {
      display: none;
    }
    #followsContainer {
      width: 95%;
      font-size: 0.85em;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #followsContainer button {
      font-size: 0.85em !important;
    }

    #search_container h2 {
      font-size: 1.2em;
    }

    #search_container input,
    #search_container button {
      font-size: 0.9em;
    }

    #profileImg {
      height: 154px;
    }

    .profileContainer {
      padding: 10px;
      width: 100vw;
      grid-template-columns: 1fr auto;
      grid-template-rows: 160px 0.5fr 0.6fr 0.8fr 0.1fr;
      grid-template-areas:
        "pic mobileTitleProfile"
        "bio bio"
        "gallery gallery"
        "movies movies"
        "links links";
    }
    section .profileDetails {
      display: none;
    }
    .mobileTitleProfile {
      display: inline;
      width: 100%;
      height: 200px;
      margin-left: 1.5rem;
      overflow-y: auto;
    }

    .profileRelatedMovieCover img {
      height: 146px !important;
    }

    section .profileCover {
      display: flex;
      height: 160px;
      width: 103.5%;
      border: 3px outset var(--main-font);
      background-color: whitesmoke;
      border-radius: var(--border-radius);
    }

    section .profilePics {
      height: 150px;
    }
    section .profilePics .profilePicsPictures img {
      height: 148px;
    }
  }
}
