{% extends 'base.html' %}

{% block title %}Search{% endblock %}

{% block content %}

<div id="search_container" class="container">
  <h2 class="mb-2" id="search_header">Movie Release Date Tracker</h2>
  <form class="form md-form mr-auto mb-4 px-2" method="post">
    <input name="movie_title" id="movie_title" class="form-control mr-sm-2 text-center mb-2" type="text"
      placeholder="Enter movie title here" aria-label="Search">
    <button class="btn btn-dark btn-block btn-rounded btn-md my-1" type="submit" id="search_button">Search</button>
  </form>
</div>

{% endblock %}