{% extends 'base.html' %}

{% block header %}
<h2 class="text-center pt-4">{% block title %}Your Follows{% endblock %}</h2>
{% endblock %}

{% block content %}

<div id="followsContainer">
  <table id="followsTable" class="table table-bordered mt-md-4 mt-2">
    <thead class="thead-lightish">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Release</th>
        <th scope="col">Type</th>
        <th scope="col">Details</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>

      {% if not follows %}
      <tr>
        <td class="col-md-5">Nothing to see here...</td>
        <td class="col-md-3">🎥</td>
        <td class="col-md-2">🎬</td>
        <td class="col-md-2">🍿</td>
      </tr>
      {% else %}
      {% for movie in follows %}
      {% if movie['released'] == True and movie['release_full'] != 'TBA' %}
      <tr class="bg-released">
        {% else %}
      <tr class="bg-unreleased">
        {%endif%}
        <td class="col-md-4 movie-table">{{ movie['name'] }}</td>
        <td class="col-md-3 movie-table">{{ movie['release'] }}</td>
        <td class="col-md-2 movie-table">{{ movie['movie_type']|capitalize }}</td>
        <td class="col-md-1 text-center"><a href="{{ url_for('details', id=movie['id'], mediaType='movie') }}"><button
              type="button" class="btn btn-success mb-1">Details</button></a>
        <td class="text-center col-md-1">
          <form method="post">
            <input checked type="checkbox" id="hidden" name="movie_type" value="{{movie['movie_type']}}">
            <button type="submit" name="movie_id" value="{{movie['id']}}" class="btn btn-danger">
              <img id="trash_svg" src="../../static/trash.svg">
            </button>
          </form>
        </td>
      </tr>
      {% endfor %}
      {%endif%}
    </tbody>
  </table>
</div>
<!-- <hr class="end mt-2"> -->
{% endblock %}