{% extends 'base.html' %}

{% block header %}
<h2 class="text-center pt-4">{% block title %}Your Follows{% endblock %}</h2>
{% endblock %}

{% block content %}
<form id="search_container" method="post">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="adult" id="inlineRadio1" value="true">
        <label class="form-check-label" for="inlineRadio1">Adult On</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="adult" id="inlineRadio2" value="false">
        <label class="form-check-label" for="inlineRadio2">Adult Off</label>
    </div>
    <button type="submit">Submit</button>
</form>
{% endblock %}